doctype html
head
  title OTT ARENA
  link(rel='stylesheet', href='stylesheets/index.css')

body
  h1 Welcome to Otete Arena. May the odds be ever in you favour
  #content
    #records
      #ranking
      #personal
    #users-list
    #message
    form(id='send-form')
      input(id='send-message')
      input(id='send-button', type='submit', value='Send')
      #help
        Chat control commands:
        ul
        li Challenge someone: <code>/challenge or /c [username]</code>
        li Accept or reject challenge: <code>/accept(reject) or /a(r)</code>
        li Use <code>r, p, s </code> for Rock, Paper and Scissors
        li Valid hand format: five hands with a space in between each
        li When you in a match, when ready just submit your hand. No one can see it until the match is over

  footer Copyright Eja Le All rights reserved
  input(type='hidden', id='username', value='#{loginuser}')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/jquery-2.0.3.min.js')
  script(src='javascripts/chat.js')
  script(src='javascripts/ott_ui.js')
