doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Ott Arena
    link(rel='stylesheet', href='stylesheets/lib/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/lib/bootstrap-theme.css')
    link(rel='stylesheet', href='stylesheets/lib/jPages.css')
    link(rel='stylesheet', href='stylesheets/page.arena.css')

    //- page script
    script(type='text/javascript', src='javascripts/lib/jquery-2.0.3.min.js')
    script(type='text/javascript', src='javascripts/lib/handlebars-v1.3.0.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='javascripts/chat.js')
    script(type='text/javascript', src='javascripts/lib/bootstrap.js')
    script(type='text/javascript', src='javascripts/lib/jPages.js')
    script(type='text/javascript', src='javascripts/ott_ui_new.js')

body
    span#sound
    .wrapper
        .header
            p.title Welcome to OTT Arena
            p.subtitle May the odds be ever in you favor
        .container
            input(type='hidden', id='username', value='#{loginuser}')
            .row
                .col-md-6.col-md-push-4.match-chat-main
                    .chatbox.section
                        .chat-content
                    .chat-input
                        .row
                            .col-md-9
                                input.form-control(id='message', type='text')
                            .col-md-3
                                a.btn.btn-default(id='message-send') Send
                .col-md-4.col-md-pull-6
                    .ranking.section
                        .title Bounty Board
                        .content
                    .personal-stats.section
                        .title Your bloody past
                        .content
                            .current-rank
                            .stats
                .col-md-2
                    .online-list.section
                        .title.text-right Kill Queue
                        .content
                    .rule
        .footer
            p &copy; Ott arena team. All right reserved

    include templates/chatLogItem.html
    include templates/ranking.html
    include templates/stats.html
    include templates/online.html
    include templates/battle.html
    include match_overlay.html