doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Welcome to OTT Arena

    //- Common styling files
    link(href='http://fonts.googleapis.com/css?family=Londrina+Solid',rel='stylesheet',type='text/css')
    link(rel='stylesheet', href='stylesheets/lib/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/lib/bootstrap-theme.css')

    //- Page styling
    link(rel='stylesheet', href='stylesheets/page.index.css')

    //- Common scripts
    script(type='text/javascript', src='javascripts/jquery-2.0.3.min.js')
    script(type='text/javascript', src='javascripts/lib/bootstrap.js')

    //- Page scripts
    script(type='text/javascript', src='javascripts/page.index.js')
body

    .wrapper
        .login-panel
            .row
                .col-md-6.col-md-push-3.intro.smoothed
                    //- Introduction
                    p.title.smoothed.invi OTT ARENA
                    p.subtitle.smoothed.invi come at me bro
                .col-md-6.login
                    //- Login form
                    form.form-horizontal(method='post', action='login')
                        .form-group
                            label.control-label.col-md-4(for='username') Username
                            .col-md-8
                                input.form-control(type='text', name='username', id='username')
                        .form-group
                            label.control-label.col-md-4(for='password') Password
                            .col-md-8
                                input.form-control(type='password', name='password', id='password')
                        .action-submit
                            a.submit Challenge Accepted
        .footer
            p &copy; OTT Arena for CGLCT, by Eja Le and Mad


