<div class="modal fade" id="match-overlay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title font-hanzor" id="myModalLabel">
                    Clash of the titans:
                    <span class="p1-name"></span>
                    Versus
                    <span class="p2-name"></span>
                </h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>