<script id="template-battle" type="text/x-handlebars-template">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4 text-center main-player1" js-name="{{p1.username}}">
                <div class="main-name">
                    {{p1.username}}
                </div>
                <img class="main-image" src="images/{{p1.title}}.png" />
                <div class="main-title">
                    <em>The {{p1.title}}</em>
                </div>
                <div class="main-stats">
                    <ul>
                        <li>
                            <img class="main-battle-stats-item" src="images/sword.png" />
                            Ranked <b>No{{p1.rank}}</b>
                        </li>
                        <li>
                            <img class="main-battle-stats-item" src="images/sword.png" />
                            Winning rate <b>{{p1.roundedRatio}}</b>
                        </li>
                        <li>
                            <img class="main-battle-stats-item" src="images/sword.png" />
                            Victims humiliated <b>{{p1.win}}</b>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 text-center main-versus">
                <div class="score-img" js-name="{{p1.username}}"></div>
                <div class="vs"><!--
                    --><span class="score-text results hidden" js-name="{{p1.username}}">0</span>&nbsp;&nbsp;<!--
                    -->VS<!--
                    -->&nbsp;&nbsp;<!--
                    --><span class="score-text results hidden" js-name="{{p2.username}}">0</span><!--
                --></div>
                <div class="score-img" js-name="{{p2.username}}"></div>
                <div class="countdown">
                    <span class="countdown-val"></span> sec remaining
                </div>
                <div class="results-text">
                </div>
            </div>
            <div class="col-xs-4 text-center main-player2" js-name="{{p2.username}}">
                <div class="main-name">
                    {{p2.username}}
                </div>
                <img class="main-image" src="images/{{p2.title}}.png" />
                <div class="main-title">
                    <em>The {{p2.title}}</em>
                </div>
                <div class="main-stats">
                    <ul>
                        <li>
                            <b>No{{p2.rank}}</b> Ranked
                            <img class="main-battle-stats-item reverse" src="images/sword.png" />
                        </li>
                        <li>
                            <b>{{p2.roundedRatio}}</b> winning rate
                            <img class="main-battle-stats-item reverse" src="images/sword.png" />
                        </li>
                        <li>
                            <b>{{p2.win}}</b> victims humiliated
                            <img class="main-battle-stats-item reverse" src="images/sword.png" />
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div><!--/.row -->
        {{#if isPlaying}}
        <div class="player-input-container">
            <div class="player-input">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="row player-input-content">
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <img src="images/punch.png" src="R" class="battle-hand-input" js-hand="r" />
                                        &nbsp;
                                        <img src="images/hi.png" src="P"  class="battle-hand-input" js-hand="p" />
                                        &nbsp;
                                        <img src="images/fingerscrossed.png" src="S" class="battle-hand-input" js-hand="s"  />
                                        &nbsp;
                                        <span class="glyphicon glyphicon-arrow-left battle-hand-back"></span>
                                    </span>
                                    <input class="form-control battle-input" type="text" maxlength="9">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <a class="btn btn-default battle-submit">Finish him!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="modal-footer">
        <div class="col-xs-3 fangays fangays-1">
            <div class="title">
                {{p1.username}} fangays 
            </div>
            <div class="content">
                Coming soon
            </div>
        </div>
        <div class="col-xs-6 match-chat">
        </div>
        <div class="col-xs-3 fangays fangays-2">
            <div class="title">
                {{p2.username}} fangays
            </div>
            <div class="content">
                Coming soon
            </div>
        </div>
    </div>
</script>