<script id="template-online" type="text/x-handlebars-template">
	<ul>
	{{#each users}}
		<li js-name="{{user}}" class="{{#if self}}self-item{{/if}}">
			{{#unless self}}
			<img class="user-sword challenge" alt="User" src="images/sword.png" js-name="{{user}}"/>
			{{/unless}}
			{{user}}
		</li>
	{{/each}}
	</ul>
</script>