<script id="template-ranking" type="text/x-handlebars-template">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody id="ranking-container">
                {{#each data}}
                <tr class="{{#if top}}active{{/if}} {{#if isSelf}}self-item{{/if}}" js-name="{{username}}">
                    <td class="text-center">{{rank}}</td>
                    <td>{{username}}</td>
                    <td class="text-center">{{win}}</td>
                    <td class="text-center">{{lose}}</td>
                    <td><img src="images/{{title}}.png" class="ranking-img" title="{{title}}"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="nav-holder"></div>
</script>
