body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: monospace;
}

a {
  color: #00B7FF;
}

#content {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#records {
    width: 250px;
    height: 480px;
    float: left;
    margin-right: 100px;
}

#ranking {
    background-color: #EEE;
    width: 250px;
    height: 380px;
    margin-bottom: 10px;
}

#personal {
  background-color: #EEE;
  width: 250px;
  height: 110px;
  margin-bottom: 10px;
}

#users-list {
  float: right;
  width: 150px;
  height: 480px;
  overflow: auto;
}

#send-form {
  margin-left: 350px;
}

#send-message {
  width: 600px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#message {
  width: 590px;
  height: 500px;
  overflow: auto;
  background-color: #EEE;
  margin-bottom: 1em;
  margin-right: 10px;
}
