/**********************************

      CSS content for arena page

************************************/

html,body{
    height: 100%;
}

.wrapper{
    position: relative;
    min-height: 100%;
}

/**
    extra font 
*/

@font-face{
    font-family: Hanzor;
    src: url('../fonts/Something Strange.ttf');
}

.font-hanzor{
    font-family: Hanzor;
}

body{
    background: #f2f2f4;
}

.header{
    margin-bottom: 20px;
    padding: 5px 15px;
    text-align: center;
    background: #000;
}

    .header .title{
        color: #fff;
        font-family: Hanzor;
        font-size: 36px;
    }

    .header .subtitle{
        color: #efefef;
        font-family: Hanzor;
    }

.container{
    padding-bottom: 30px;
}

.chatbox{
    padding: 10px 15px;
    background: #fff;
}

/* generic class for all section */
.section{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px 15px;

    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;

    background: #fff;
    border: 1px solid #ccc;
}

    .section > .title{
        font-family: Hanzor;
        font-size: 22px;
    }

.chat-content{
    padding: 0;
    height: 600px;
    overflow: auto;
}

.online-list{
}

    .online-list .content{
        overflow: auto;
        text-align: right;
        height: 614px;
    }

        .online-list .content ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .online-list .content ul li{
            display: block;
            padding: 5px 10px;
            height: 34px;
            line-height: 24px;

            -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
            -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
            -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
            transition: all 0.3s ease-out;
        }

        .online-list .content ul li.self-item{
            font-weight: bold;
        }

        .online-list .content ul li:hover{
            background: #efefef;
        }

        .online-list .content ul li.self-item:hover{
            background: #fff;
        }

            .online-list .content ul li .user-sword{
                float: left;
                width: 24px;
                height: 24px;
                cursor: pointer;
                -webkit-transition: all 0.2s ease-out;  /* Chrome 1-25, Safari 3.2+ */
                -moz-transition: all 0.2s ease-out;  /* Firefox 4-15 */
                -o-transition: all 0.2s ease-out;  /* Opera 10.50–12.00 */
                transition: all 0.2s ease-out;
            }

            .online-list .content ul li .user-sword:hover{
                -ms-transform: rotate(20deg); /* IE 9 */
                -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
                transform: rotate(20deg);
            }

.ranking,
.current-rank{
    height: auto;
}

    .ranking .ranking-img,
    .current-rank .ranking-img{
        width: 32px;
        height: 32px;
    }

    .ranking table > tbody > tr > td,
    .current-rank table > tbody > tr > td{
        vertical-align: middle;
    }

    .ranking table > tbody > tr.self-item > td,
    .current-rank table > tbody > tr.self-item > td{
        font-weight: bold;
    }

    /* paginator of jpage */
    .nav-holder{
        text-align: center;
    }
    .nav-holder a{
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin-right: 5px;
        color: #777;
        -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
        -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
        -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
        transition: all 0.3s ease-out;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-holder a:hover,
    .nav-holder .jp-current{
        color: #333;
    }

    .nav-holder .jp-current{
        font-weight: bold;
    }

.personal-stats{
}

.chat-input{
    margin-bottom: 10px;
}

.chat-input #message{
    margin-bottom: 8px;
}

.chat-input #message-send{
    display: inline-block;
    width: 100%;
    zoom: 1;
    *display: inline;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}

/***** message cosmetic ********/
.sys-msg{
    font-weight: bold;
    color: #777;
}

.user-msg .user-msg-name{
    font-weight: bold;
}

.challenge-receive-button{
    margin: 8px 0;
}

    .challenge-receive-button button{
        font-weight: bold;
        color: #777;
    }

/***** match overlay *****/
#match-overlay .modal-dialog{
    width: auto;
    max-width: 900px;
}

    #match-overlay .modal-dialog h4{
        font-size: 36px;
    }

    /* elements */
    #match-overlay .main-name{
        margin-bottom: 5px;
        font-family: Hanzor;
        font-size: 45px;
    }

    #match-overlay .main-image{
        margin-bottom: 5px;
        width: 100px;
        height: 100px;
    }

    #match-overlay .main-title{
        margin-bottom: 15px;
        font-size: 12px;
        color: #999;
        text-transform: capitalize;
    }

    #match-overlay .vs{
        font-family: Hanzor;
        font-size: 60px;
    }

    .main-versus{
        padding: 63px 10px;
    }

    .main-stats ul{
        padding-left: 0;
        list-style-type: none;
    }

    .main-stats .main-battle-stats-item{
        display: inline-block;
        margin-right: 5px;
        width: 24px;
        height: 24px;
    }

    .main-player1 .main-stats{
        padding-left: 20px;
        text-align: left;
    }
    .main-player2 .main-stats{
        padding-right: 20px;
        text-align: right;
    }

    .main-stats .main-battle-stats-item.reverse{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin-right: 0;
        margin-left: 5px;
    }

    .main-versus .countdown{
        margin-top: 20px;
        font-size: 12px;
        font-weight: bold;
    }

    #match-overlay .modal-footer{
        margin-top: 0;
        background: #efefef;
    }

    #match-overlay .player-input-container{
        height: 40px;
    }

    #match-overlay .player-input-content{
        margin-left: 3px;
    }

    #match-overlay .battle-hand-input{
        cursor: pointer;
    }

    #match-overlay .battle-hand-back{
        cursor: pointer;
        vertical-align: middle;
    }

    /* handsss */
    #match-overlay .battle-hand-item{
        display: none;
    }

    #match-overlay .results{
        font-size: 60px;
        font-weight: bold;
        font-family: Arial;
    }

    #match-overlay .results-text{
        margin-top: 25px;
        display: none;
        font-size: 28px;
        font-family: Hanzor;
    }

    #match-overlay .match-chat .chat-content{
        text-align: left;
        height: 200px;
    }

    #match-overlay .fangays-1{
        text-align: left;
    }    

    #match-overlay .fangays-2{
        text-align: right;
    }    

    #match-overlay .fangays .title{
        font-weight: bold;
        font-family: Hanzor;
        font-size: 18px;
    }

    #match-overlay .fangays .content{
        /* for now */
        font-size: 20px;
        font-weight: bold;
        color: #ccc;
        text-align: center;
        padding-top: 30px;
    }