/**********************************

      CSS content for login page

************************************/

/**
    extra font 
*/

@font-face{
    font-family: Hanzor;
    src: url('../fonts/Something Strange.ttf');
}

/**
    common class
*/

.invi{
    opacity: 0;
}

.hidden{
    display: none;
}

.smoothed{
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

a{
    color: #333;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

a:hover{
    color: #960B0B;
}

/* dramatic body */
html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    position: relative;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: none;
}

    .footer > p{
        font-family: Trebuchet MS;
        font-size: 13px;
        font-weight: bold;
    }

.login-panel{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 300px;
    margin-top: -225px;
    margin-left: -400px;
}

.intro{
    font-family: Hanzor;
    font-size: 80px;
    color: #333;
    text-align: center;
}

    .intro > .subtitle{
        cursor: pointer;
        font-size: 20px;
    }

/* login panel */

.login{
    display: none;
}

form label, form input, a.submit{
    font-family: Hanzor;
}

.action-submit{
    text-align: center;
}

    a.submit{
        cursor: pointer;
        font-size: 30px;
        text-decoration: none;
    }